<div class = "form-group row">
  <%= f.label :image, :class => "col-2 col-form-label"%>
  <div class = "col-10">
    <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg, image/jpg', id: 'uploadImage' %>
  </div>
</div>