%div{:class => "row link"}
  %div{:class => "like-area w-10"}
    %div{:class => "like upvote"}
      =link_to upvote_path(post.id, "Post"), method: :put, :remote => true do
        %span(class="octicon octicon-chevron-up")
    %div{:class => "like like-count"}
      =all_like post.likes
    %div{:class => "like"}
      =link_to downvote_path(post.id,"Post"), method: :put, :remote => true do
        %span(class="octicon octicon-chevron-down")
  %div{:class => "link-content w-100"}
    %h4{:class => "font-weight-normal"} 
      =link_to post.title, post
    = render "support_area", :post => post
    %div{:class => "created-at text-muted"}
      %small{:class=> "author"} 
      Submitted
      = time_ago(post.created_at) 
      by 
      = post.user.email