%div{:class => "row link"}
  %div{:class => "like-area w-10"}
    %div{:class => "like upvote"}
      =link_to create_like_path(post.id, "Post", :upvote), method: :put, :remote => true do
        %span(class="octicon octicon-chevron-up")
    %div{:class => "like like_count_#{post.id}"}
      =all_like post.likes
    %div{:class => "like"}
      =link_to create_like_path(post.id,"Post",:downvote), method: :put, :remote => true do
        %span(class="octicon octicon-chevron-down")
  %div{:class => "link-content w-100"}
    -if post.post_type == "Link"
      %div{:class => "og-image"}
        =image_tag("default_link.gif", size: "70x70", alt: "Empty Image Link")
    -if post.post_type == "Text"
      %div{:class => "og-image"}
        =image_tag("default_text.png", size: "70x70", alt: "Empty Image Link")
    -if post.post_type == "Image"
      %div{:class => "og-image"}
        =image_tag(post.image(:small), size: "70x70", alt: post.title)
    %h4{:class => "font-weight-normal title"} 
      =link_to post.title, post
    = render "support_area", :post => post
    %div{:class => "created-at text-muted"}
      %small{:class=> "author"} 
      Submitted
      = time_ago(post.created_at) 
      by 
      = post.user.email