<p id="notice"><%= notice %></p>

<div class="col-md-9 m-auto">
  <div id="links">
    <%= render @post  %>
  </div>
</div>


<div class="row justify-content-md-center">
  <div id="paginator">
    <!--< paginate @post  %>-->
  </div>
</div>