form{
  .buttons-area{
    background: none repeat scroll 0 0 #f5f5f5;
    border-radius: 0 0 .25rem .25rem !important;
    padding-right: 0;
    padding-left: 0;
      input.btn{
        padding: 0.3rem .9rem;
        margin: 0.3rem;
      }
      
  }
  @media (min-width: 992px){
    textarea{
      min-height: 120px !important;
    }
  }
  textarea{
    border-radius: .25rem .25rem 0 0 !important;
  }
}
.comment-area{
  
  .col-sm-1{
    padding: 0 !important;
  }
  .card-block {
    padding: .4rem 1.25rem !important;
  }
  .card-header {
    
    position: relative;  
    padding: 0.3rem 1.25rem !important;
    
    &::after, &::before {
      top: 50%;
      content: "";
      border-left-width: 0 !important;
      
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      border-style: solid;
      border-color: transparent;
    }
    &::before{
      left: -11px;
      margin-top: -11px;
      border-width: 11px;
      border-right-color: rgba(0, 0, 0, 0.125) !important;
    }
    &::after {
      left: -10px;
      margin-top: -10px;
      border-width: 10px;
      border-right-color: #f7f7f9 !important;
    }
  }
}