.link{
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(0, 150, 136, 0.86);
  a{
    color: #652812 !important;
  }
  .link-content {
    position: absolute;
    padding-left: 70px;
    padding-top: 10px;
    z-index:1000;
    right: 0;
    .og-image{
      position: relative;
      left: 0;
      top: 20px;
      z-index: 1000;
      float: left;
      padding-right: 13px;
    }
  }
}
.links-group{
  a:hover{
    text-decoration: none;
  }
}