.link{
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(0, 150, 136, 0.86);
  a{
    color: #652812 !important;
  }
  .link-content {
    position: absolute;
    padding-left: 70px;
    z-index:1000;
    right: 0;
  }
}
.like-area {
  position: relative;
  z-index: 1003;
  .like{
    span.octicon {
      font-size: 3rem;
      cursor: pointer;
    }
    font-size: 24px;
    text-align: center;
  }
}
.octicon{
  color: #bbc;//#fea
  fill: currentColor;
}
.links-group{
  a:hover{
    text-decoration: none;
  }
}